#blog {
    background: url(/public/images/grey_wash_wall.png);
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    display: none;
}

#blog #feed {
    border: 3px solid #555555;
    background-color: white;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}